.login-form {
  width: 100%;
  max-width: $fs-384px;
  padding: 10% 0 10% 0;
  margin: auto;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}

.outline {
  // border: 2px solid #085774;
  border-radius: 2px solid white;
  border-radius: 5%;
  box-shadow: grey;
}

.logoStyle {
  width: 60%;
  height: 100%;
  text-align: center;
  /* padding-left: 15px; */
  margin-left: 20%;
}
