@import "colors";
@import "mixins";
@import "fonts";
.custom-btn {
    @include setFont(500, normal, normal, normal, center);
    font-family: $roboto-medium;
    font-size: 0.875rem;
    background: #ffe0a1;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    color: #4a4a4a;
    border-color: #ffe0a1;
    &:hover {
        background: #ffe0a1;
        color: #4a4a4a;
        border-color: #ffe0a1;
    }
    &:focus {
        box-shadow: none !important;
        background: #ffe0a1;
        color: #4a4a4a;
        border-color: #ffe0a1;
    }
}