$tiber-green: #133b37;
$butter-scotch: #ffc243;
$light-grey: #cccccc;
$white: #ffffff;
$sin-yellow: #f5ba26;
$nero-grey: #282828;
$gain-boro-white: #dddddd;
$white-smoke: #f5f5f5;
$dark-grey: #b3b3b3;
$bright-turquoise: #ececec;
$cream-brulee-yellow: #ffe0a1;
$white-light-smoke: #fafafa;
$black-peaurl: #0b0a10;
$white-smoke-light: #f6f6f6;
$black: #000000;
$nobel-grey: #9b9b9b;
$charcoal-grey: #4a4a4a;
$tranparent-black: rgba(0, 0, 0, 0.7);
$emerald: #57ca85;
$shady-lady: #979797;
$eclipse-grey: #3b3b3b;
$glacier-blue: #8ab3c5;
$english-holly: #2c4632;
$picton-blue: #47a1ce;
$medium-orchid: #c86dd7;
$blue-stone: #194f68;
$emerald-green: #57ca85;
$blue-light: #2792e8;
$blue-medium: #299cf7;