.pt-4px {
    padding-top: $fs-4px !important;
}

.pb-4px {
    padding-bottom: $fs-4px !important;
}

.pl-4px {
    padding-left: $fs-4px !important;
}

.pl-8px {
    padding-left: $fs-8px !important;
}